apiVersion: v1
kind: Service
metadata:
  name: {{ include "kitchensink.fullname" . }}
  labels:
    {{- include "kitchensink.labels" . | nindent 4 }}
  {{- if .Values.homepage.enabled }}
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: {{ .Values.homepage.name | quote }}
    gethomepage.dev/description: {{ .Values.homepage.description | quote }}
    gethomepage.dev/group: {{ .Values.homepage.group | quote }}
    gethomepage.dev/icon: {{ .Values.homepage.icon | quote }}
    gethomepage.dev/pod-selector: "app.kubernetes.io/instance={{ .Release.Name }}"
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- range .Values.service.loadBalancerSourceRanges }}
    - {{ . }}
    {{- end }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
  selector:
    {{- include "kitchensink.selectorLabels" . | nindent 4 }}
